<!DOCTYPE html>
<html class="dark scroll-smooth" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Personal Portfolio Verison 2</title>

    <!-- ============ Favicon ============ -->
    <link rel="shortcut icon" href="./assets/favicon.svg" type="image/x-icon">

    <!-- ============ Tailwind CSS ============ -->
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    <script src="./tailwind-config.js"></script>

    <!-- ============ Fonts ============ -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />

    <!-- ============ Icons & Animations ============ -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    >
  </head>
  <body
    class="
      bg-background-light dark:bg-background-dark 
      font-sans text-text-light dark:text-text-dark antialiased
    "
  >
    <div class="flex min-h-screen w-full flex-col">

      <!-- ========== Header ========== -->
      <header
        class="
          sticky top-0 z-50 w-full 
          border-b border-gray-200/50 dark:border-gray-700/50 
          bg-background-light/80 dark:bg-background-dark/80 backdrop-blur-lg
        "
      >
        <div
          class="
            container mx-auto 
            flex items-center justify-between 
            px-4 py-4 sm:px-6 lg:px-8
          "
        >

          <!-- ===== Logo ===== -->
          <a class="flex items-center gap-2" href="#">
            <span class="material-symbols-outlined text-primary text-3xl">
              terminal
            </span>
            <h1 class="text-2xl font-bold text-text-light dark:text-text-dark">
              Sarah
            </h1>
          </a>

          <!-- ===== Navigator ===== -->
          <nav class="hidden items-center gap-6 md:flex">
            <a
              class="
                text-sm font-medium text-subtext-light 
                dark:text-subtext-dark hover:text-primary 
                dark:hover:text-primary transition-colors
              "
              href="#hero"
            >
              Home
            </a>

            <a
              class="
                text-sm font-medium text-subtext-light 
                dark:text-subtext-dark hover:text-primary 
                dark:hover:text-primary transition-colors
              "
              href="#about"
            >
              About
            </a>
            
            <a
              class="
                text-sm font-medium text-subtext-light 
                dark:text-subtext-dark hover:text-primary 
                dark:hover:text-primary transition-colors
              "
              href="#projects"
            >
              Projects
            </a>

            <a
              class="
                text-sm font-medium text-subtext-light 
                dark:text-subtext-dark hover:text-primary 
                dark:hover:text-primary transition-colors
              "
              href="#testimonials"
            >
              Testimonials
            </a>

            <a
              class="
                text-sm font-medium text-subtext-light 
                dark:text-subtext-dark hover:text-primary 
                dark:hover:text-primary transition-colors
              "
              href="#contact"
            >
              Contact
            </a>
          </nav>

          <!-- ===== Actions ===== -->
          <div class="flex items-center gap-4">

            <!-- ===== Theme Toggle ===== -->
            <button
              id="theme-toggle"
              class="
                h-8 w-8
                flex items-center justify-center
                rounded-lg bg-gray-200/50 dark:bg-gray-700/50 
                text-gray-800 dark:text-gray-200 
                hover:bg-gray-200 dark:hover:bg-gray-700
              "
            >
              <!-- ===== Light Mode ===== -->
              <span class="material-symbols-outlined text-base block dark:hidden">
                light_mode
              </span>
  
              <!-- ===== Dark Mode ===== -->
              <span class="material-symbols-outlined text-base hidden dark:block">
                dark_mode
              </span>
            </button>

            <!-- ===== User Profile ===== -->
            <img
              class="h-10 w-10 rounded-full"
              src="https://lh3.googleusercontent.com/aida-public/AB6AXuCuZmZoPb1A7qPh7FBTuPC-Fa2zMf5-yiLB8SvUOGeVxP90RbP2A_qY4tCjZm9hsJceQejuIXsKgRlL4FOG9nhFK7DrAHvio0_dDHX7HeJhh9rkd3ghKziAdZiGisUuysVBeilrPGhit1RYuImdl0Ic5ZLatuwziDHf8x2w2ak01oDYZz4D7-MDsvWdrmNXDnPiV0elxtuwskTMfeJ2tT8pOZVffcWmGDX4CFF7hK1tfQ2FWBVD32cGExFAwsXIHLMng0FJIYUCJSaA"
              alt="user profile"
            >
          </div>
        </div>
      </header>

      <main class="flex-grow">

        <!-- ========== Hero Section ========== -->
        <section
          id="hero"
          class="
            flex flex flex-col justify-center
            min-h-[calc(100vh-75px)] container mx-auto 
            px-4 py-24 sm:px-6 lg:px-8
          "
        >
          <div class="grid items-center gap-12 lg:grid-cols-5 lg:gap-16">

            <!-- ===== Introduction ===== -->
            <div
              class="order-2 lg:order-1 lg:col-span-3 text-center lg:text-left"
            >
              <div>
                <h1
                  class="
                    animate__animated
                    text-4xl sm:text-5xl lg:text-6xl 
                    font-extrabold tracking-tight 
                    text-text-light dark:text-text-dark
                  "
                  data-animate="animate__flash"
                >
                  Creative Frontend Developer
                </h1>
                <p
                  class="
                    animate__animated
                    mt-6 max-w-2xl mx-auto lg:mx-0
                    text-lg text-subtext-light dark:text-subtext-dark
                  "
                  data-animate="animate__fadeInUp"
                >
                  I design and build beautiful, responsive, and user-centric
                  websites and applications. Let's turn your vision into reality.
                </p>
              </div>

              <div
                class="
                  animate__animated mt-10 gap-4
                  flex flex-wrap justify-center lg:justify-start
                "
                data-animate="animate__fadeInUp"
              >
                <button
                  class="
                    h-12 px-8
                    flex items-center justify-center 
                    rounded-lg bg-primary
                    text-base font-semibold text-white 
                    shadow-lg shadow-primary/30 hover:shadow-primary/50
                    transition-transform-shadow duration-300 hover:scale-105 
                  "
                >
                  Hire Me
                </button>
                <a
                  class="
                    h-12 px-8
                    flex items-center justify-center 
                    rounded-lg bg-card-light dark:bg-card-dark
                    text-base font-semibold text-text-light dark:text-text-dark 
                    shadow-md hover:shadow-lg dark:shadow-black/20
                    transition-transform-shadow duration-300 hover:scale-105
                  "
                  href="#projects"
                  download
                  target="_blank"
                  href="./pdf/Brian-CV.pdf"
                >
                  Download CV
                </a>
              </div>
            </div>

            <!-- ===== User Profile ===== -->
            <div 
              class="
                animate__animated 
                order-1 lg:order-2 lg:col-span-2
              " 
              data-animate="animate__jackInTheBox"
            >
              <div class="relative w-full max-w-sm mx-auto">
                <img
                  src="https://lh3.googleusercontent.com/aida-public/AB6AXuCuZmZoPb1A7qPh7FBTuPC-Fa2zMf5-yiLB8SvUOGeVxP90RbP2A_qY4tCjZm9hsJceQejuIXsKgRlL4FOG9nhFK7DrAHvio0_dDHX7HeJhh9rkd3ghKziAdZiGisUuysVBeilrPGhit1RYuImdl0Ic5ZLatuwziDHf8x2w2ak01oDYZz4D7-MDsvWdrmNXDnPiV0elxtuwskTMfeJ2tT8pOZVffcWmGDX4CFF7hK1tfQ2FWBVD32cGExFAwsXIHLMng0FJIYUCJSaA"
                  alt="Profile"
                  class="aspect-square rounded-full object-cover shadow-2xl"
                />

                <div
                  class="
                    absolute -bottom-4 -right-4 p-3
                    bg-white dark:bg-card-dark rounded-full shadow-lg
                  "
                >
                  <div class="bg-green-400/20 text-green-500 rounded-full p-2">
                    <div
                      class="
                        w-2 h-2 
                        bg-green-500 rounded-full 
                        animate-ping absolute inset-1/2 -translate-x-1/2 -translate-y-1/2
                      "
                    ></div>
                    <div class="w-2 h-2 bg-green-500 rounded-full"></div>
                  </div>
                </div>
                <span
                  class="
                    absolute top-8 left-0 p-3 
                    bg-card-light dark:bg-card-dark 
                    rounded-lg shadow-lg 
                    flex items-center gap-2 
                    animate-[bounce_3s_ease-in-out_infinite]
                  "
                >
                  <span class="material-symbols-outlined text-primary">
                    brush
                  </span>
                  <span class="font-semibold text-sm">UI/UX Design</span>
                </span>
                <span
                  class="
                    absolute bottom-16 -left-8 p-3 
                    bg-card-light dark:bg-card-dark rounded-lg shadow-lg 
                    flex items-center gap-2 
                    animate-[bounce_3s_ease-in-out_infinite_500ms]
                  "
                >
                  <span class="material-symbols-outlined text-primary">
                    code
                  </span>
                  <span class="font-semibold text-sm">Development</span>
                </span>
              </div>
            </div>
          </div>
        </section>

        <!-- ========== About Section ========== -->
        <section
          id="about"
          class="py-24 bg-background-light dark:bg-background-dark"
        >
          <div 
            class="animate__animated container mx-auto px-4 sm:px-6 lg:px-8" 
            data-animate="animate__fadeInUp"
          >

            <!-- ===== About me ===== -->
            <div class="text-center mb-16">
              <h2
                class="
                  text-3xl sm:text-4xl
                  font-bold text-text-light dark:text-text-dark
                "
              >
                About Me
              </h2>
              <p
                class="
                  mt-4 max-w-3xl mx-auto
                  text-lg text-subtext-light dark:text-subtext-dark
                "
              >
                A brief introduction to who I am, what I do, and my professional
                journey.
              </p>
            </div>
            
            <div class="grid lg:grid-cols-2 gap-16 items-start">

              <!-- ===== What i do ===== -->
              <div>
                <h3
                  class="
                    mb-4 text-2xl font-semibold 
                    text-text-light dark:text-text-dark
                  "
                >
                  Who I Am
                </h3>
                <p class="text-subtext-light dark:text-subtext-dark mb-8">
                  Hello! I'm a dedicated and results-driven Frontend Developer
                  with a passion for creating intuitive, dynamic user
                  experiences. I thrive on turning complex problems into simple,
                  beautiful, and functional designs. When I'm not coding, you
                  can find me exploring new technologies or contributing to
                  open-source projects.
                </p>
                <h3
                  class="text-2xl font-semibold text-text-light dark:text-text-dark mb-4"
                >
                  What I Do
                </h3>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                  <div
                    class="
                      p-6 rounded-lg 
                      bg-card-light dark:bg-card-dark 
                      shadow-md hover:shadow-lg transition-shadow
                    "
                  >
                    <span
                      class="material-symbols-outlined text-primary text-4xl mb-3"
                      >web</span
                    >
                    <h4 class="font-semibold text-lg mb-2">Web Development</h4>
                    <p
                      class="text-sm text-subtext-light dark:text-subtext-dark"
                    >
                      Building responsive and optimized websites from scratch.
                    </p>
                  </div>
                  <div
                    class="
                      p-6 rounded-lg 
                      bg-card-light dark:bg-card-dark 
                      shadow-md hover:shadow-lg transition-shadow
                    "
                  >
                    <span
                      class="material-symbols-outlined text-primary text-4xl mb-3"
                    >
                      palette
                    </span>
                    <h4 class="font-semibold text-lg mb-2">UI/UX Design</h4>
                    <p
                      class="text-sm text-subtext-light dark:text-subtext-dark"
                    >
                      Crafting user-friendly interfaces with a focus on
                      usability.
                    </p>
                  </div>
                </div>
              </div>

              <div>
                <!-- ===== Skills and Experience ===== -->
                <div>
                  <h3
                    class="
                      mb-6 text-2xl font-semibold 
                      text-text-light dark:text-text-dark
                    "
                  >
                    Skills &amp; Experience
                  </h3>
                  <div class="space-y-6">
                    <div>
                      <div class="flex justify-between mb-1">
                        <span
                          class="text-base font-medium text-text-light dark:text-text-dark"
                        >
                          HTML &amp; CSS
                        </span>
                        <span
                          class="text-sm font-medium text-subtext-light dark:text-subtext-dark"
                        >
                          95%
                        </span>
                      </div>
                      <div
                        class="w-full bg-gray-200 dark:bg-card-dark rounded-full h-2.5"
                      >
                        <div
                          class="progress-bar bg-primary h-2.5 rounded-full"
                          data-width="95%"
                          style="width: 0%"
                        ></div>
                      </div>
                    </div>
                    <div>
                      <div class="flex justify-between mb-1">
                        <span
                          class="text-base font-medium text-text-light dark:text-text-dark"
                        >
                          JavaScript &amp; TypeScript
                        </span>
                        <span
                          class="text-sm font-medium text-subtext-light dark:text-subtext-dark"
                        >
                          90%
                        </span>
                      </div>
                      <div
                        class="w-full bg-gray-200 dark:bg-card-dark rounded-full h-2.5"
                      >
                        <div
                          class="progress-bar bg-primary h-2.5 rounded-full"
                          data-width="95%"
                          style="width: 0%"
                        ></div>
                      </div>
                    </div>
                    <div>
                      <div class="flex justify-between mb-1">
                        <span
                          class="text-base font-medium text-text-light dark:text-text-dark"
                        >
                          React &amp; Next.js
                        </span>
                        <span
                          class="text-sm font-medium text-subtext-light dark:text-subtext-dark"
                        >
                          85%
                        </span>
                      </div>
                      <div
                        class="w-full bg-gray-200 dark:bg-card-dark rounded-full h-2.5"
                      >
                        <div
                          class="progress-bar bg-primary h-2.5 rounded-full"
                          style="width: 0%"
                          data-width="95%"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- ===== Career and Education ===== -->
                <div>
                  <h3
                    class="
                      text-xl font-semibold mt-10 mb-4
                      text-text-light dark:text-text-dark 
                    "
                  >
                    Career &amp; Education
                  </h3>
                  <div
                    class="
                      relative ml-2
                      border-l-2 border-primary/20 dark:border-primary/30
                    "
                  >
                    <div class="mb-8 ml-6">
                      <span
                        class="
                          absolute -left-3 w-6 h-6 
                          flex items-center justify-center 
                          bg-primary rounded-full 
                          ring-8 ring-background-light dark:ring-background-dark
                        "
                      >
                        <span
                          class="material-symbols-outlined text-white text-base"
                        >
                          school
                        </span>
                      </span>
                      <h4
                        class="font-semibold text-text-light dark:text-text-dark"
                      >
                        B.Sc. in Computer Science
                      </h4>
                      <p
                        class="text-sm text-subtext-light dark:text-subtext-dark"
                      >
                        University of Technology (2012-2016)
                      </p>
                    </div>
  
                    <div class="mb-8 ml-6">
                      <span
                        class="
                          absolute -left-3 w-6 h-6 
                          flex items-center justify-center 
                          bg-primary rounded-full
                          ring-8 ring-background-light dark:ring-background-dark
                        "
                      >
                        <span
                          class="material-symbols-outlined text-white text-base"
                        >
                          work
                        </span>
                      </span>
                      <h4
                        class="font-semibold text-text-light dark:text-text-dark"
                      >
                        Senior Frontend Developer
                      </h4>
                      <p
                        class="text-sm text-subtext-light dark:text-subtext-dark"
                      >
                        Innovate Solutions (2020-Present)
                      </p>
                    </div>
  
                    <div class="ml-6">
                      <span
                        class="
                          absolute -left-3 w-6 h-6 
                          flex items-center justify-center 
                          bg-primary rounded-full 
                          ring-8 ring-background-light dark:ring-background-dark
                        "
                      >
                        <span
                          class="material-symbols-outlined text-white text-base"
                        >
                          military_tech
                        </span>
                      </span>
                      <h4
                        class="font-semibold text-text-light dark:text-text-dark"
                      >
                        Certified JavaScript Developer
                      </h4>
                      <p
                        class="text-sm text-subtext-light dark:text-subtext-dark"
                      >
                        Professional Dev Institute (2019)
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- ========== Project Section ========== -->
        <section
          id="projects"
          class="py-24 bg-card-light dark:bg-card-dark"
        >
          <div
            class="
              animate__animated 
              container mx-auto px-4 sm:px-6 lg:px-8
            " 
            data-animate="animate__fadeInUp"
          >
            <div class="text-center mb-16">

              <!-- ===== Project Header ===== -->
              <div>
                <h2
                  class="
                    text-3xl sm:text-4xl font-bold 
                    text-text-light dark:text-text-dark
                  "
                >
                  My Projects
                </h2>
                <p
                  class="
                    mt-4  max-w-3xl mx-auto
                    text-lg text-subtext-light dark:text-subtext-dark
                  "
                >
                  A selection of my recent work. Each project is a unique piece of
                  development.
                </p>
              </div>

              <!-- ===== Filter project category tabs ===== -->
              <div
                class="
                  mt-8 filter-button
                  flex justify-center gap-2 flex-wrap
                "
              >
              </div>
            </div>

            <!-- ===== Project list ===== -->
            <div 
              class="
                projects-grid grid gap-8
                grid-cols-1 md:grid-cols-2 lg:grid-cols-3 
              "
            >
            </div>
          </div>
        </section>

        <!-- ========== Testimonials Section ========== -->
        <section id="testimonials" class="py-24">
          <div 
            class="
              animate__animated 
              container mx-auto px-4 sm:px-6 lg:px-8
            " 
            data-animate="animate__fadeInUp"
          >

            <!-- ===== Testimonials Header ===== -->
            <div class="text-center mb-16">
              <h2
                class="
                  text-3xl sm:text-4xl font-bold 
                  text-text-light dark:text-text-dark
                "
              >
                What My Clients Say
              </h2>
              <p
                class="
                  mt-4 max-w-3xl mx-auto
                  text-lg text-subtext-light dark:text-subtext-dark
                "
              >
                I take pride in the relationships I build and the positive
                feedback I receive.
              </p>
            </div>

            <!-- ===== Testimonials list ===== -->
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

              <!-- ===== Testimonials 1 ===== -->
              <article
                class="
                  flex flex-col justify-between
                  bg-card-light dark:bg-card-dark 
                  p-8 rounded-xl shadow-md
                "
              >
                <p class="text-subtext-light dark:text-subtext-dark mb-6">
                  "Working with them was a game-changer. The attention to detail
                  and creative solutions were outstanding. Our user engagement
                  has skyrocketed since the redesign!"
                </p>
                <div class="flex items-center">
                  <img
                    alt="Client 1"
                    class="w-12 h-12 rounded-full mr-4 object-cover"
                    src="https://lh3.googleusercontent.com/aida-public/AB6AXuDex31K54C_9P4hCqYpgaaU5ac8jiiXF86NjnnUgc9LZK_yxcOFns4HCwUnu5WFk4tyMAw4ajHMypcmsYIWgzocBQGBtBMAf_1FTyA4nZiS6wxFrJn4LWwuKNm13LNT2P5JFAJLf-0LT98DBxd7LwDKtrw3MDCIwTQkEHx_NG8UrOp9Plzf0sAa8YVzTJbWv0iE4MtP1sAz6hQrWvZiSoKFB1Sd9te9URLMpSMNgPMRMpLeFwul7kftXh9Z4fLm0gx6ngb1Zmei9D5d"
                  />
                  <div>
                    <h4
                      class="font-semibold text-text-light dark:text-text-dark"
                    >
                      Jane Doe
                    </h4>
                    <p
                      class="text-sm text-subtext-light dark:text-subtext-dark"
                    >
                      CEO, TechForward
                    </p>
                  </div>
                </div>
              </article>

              <!-- ===== Testimonials 3 ===== -->
              <article
                class="
                  flex flex-col justify-between
                  bg-card-light dark:bg-card-dark 
                  p-8 rounded-xl shadow-md
                "
              >
                <p class="text-subtext-light dark:text-subtext-dark mb-6">
                  "An incredibly talented developer. They delivered a
                  high-quality product on time and on budget. I couldn't be
                  happier with the results."
                </p>
                <div class="flex items-center">
                  <img
                    alt="Client 2"
                    class="w-12 h-12 rounded-full mr-4 object-cover"
                    src="https://lh3.googleusercontent.com/aida-public/AB6AXuDwLGjiEWIx-3ODHkSsSh9IDbZSxBjf459OEISTeMvfQCEOM72QSHkrHmsNyRI3bo7KOPnt5d3mgZVnhHL3Zu3ayVNU4VMe_XGxvbfs2bJIuMzpfMvm_bxD9THvFLDwq_TOAXy4mBMOA--6UQZopKyKFlwLILULBWtpKr7XmzKuX1TIG7LBVuD7qOHtLVvJvR8YG8DVYh5G0ifojJ4xvvRZjbVnH3bUc4h4NB0M2n1AE9-kGxWmVHu5dAg0-1YFwVCaMArXHBju1wUq"
                  />
                  <div>
                    <h4
                      class="font-semibold text-text-light dark:text-text-dark"
                    >
                      John Smith
                    </h4>
                    <p
                      class="text-sm text-subtext-light dark:text-subtext-dark"
                    >
                      Founder, Creative Minds
                    </p>
                  </div>
                </div>
              </article>

              <!-- ===== Testimonials 3 ===== -->
              <article
                class="
                  flex flex-col justify-between
                  bg-card-light dark:bg-card-dark 
                  p-8 rounded-xl shadow-md
                "
              >
                <p class="text-subtext-light dark:text-subtext-dark mb-6">
                  "The communication was excellent throughout the project. They
                  understood our vision perfectly and brought it to life with
                  precision and flair."
                </p>
                <div class="flex items-center">
                  <img
                    alt="Client 3"
                    class="w-12 h-12 rounded-full mr-4 object-cover"
                    src="https://lh3.googleusercontent.com/aida-public/AB6AXuDCbamOdOPVNZowc_1kTaFCdEUyOru66y3mmAHhd9keZZ5YkQ_9YJ8GjC9GpsKvudmE4CNaKRb4k_7ZbeRw1CEAGwkYe0rT4ipu6EEghCwo4Q9hV11pAOB-gSi3c4ZwUDJGqbLE2tNB7IjKR4uVJlFfUt-B-R0uMOWHp_O6jlz91W69Kh5rslG8SmcpmHcRnnmM5X9y2hg7Bm0bS57h_eXRhffXoDCjomOv3UWt3zDQK9cYn4eS6WnuZWcf_tA9BLAEPkZIjPeComra"
                  />
                  <div>
                    <h4
                      class="font-semibold text-text-light dark:text-text-dark"
                    >
                      Emily Johnson
                    </h4>
                    <p
                      class="text-sm text-subtext-light dark:text-subtext-dark"
                    >
                      Marketing Director, DataCorp
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </section>

        <!-- ========== Contact Section ========== -->
        <section id="contact" class="py-24 bg-card-light dark:bg-card-dark">
          <div class="container mx-auto px-4 sm:px-6 lg:px-8">

            <!-- ===== Contact Header ===== -->
            <div class="text-center mb-16">
              <h2
                class="
                  text-3xl sm:text-4xl font-bold 
                  text-text-light dark:text-text-dark
                "
              >
                Contact Me
              </h2>
              <p
                class="
                  mt-4 max-w-3xl mx-auto
                  text-lg text-subtext-light dark:text-subtext-dark 
                "
              >
                Have a project in mind or just want to say hi? I'd love to hear
                from you.
              </p>
            </div>

            <div class="max-w-4xl mx-auto grid lg:grid-cols-2 gap-12">

              <!-- ===== Contact Information ===== -->
              <div>
                <div class="flex items-start gap-4 mb-6">
                  <div
                    class="
                      mt-1 w-10 h-10
                      flex-shrink-0 rounded-full bg-primary/10 text-primary 
                      flex items-center justify-center
                    "
                  >
                    <span class="material-symbols-outlined">email</span>
                  </div>
                  <div>
                    <h4
                      class="font-semibold text-lg text-text-light dark:text-text-dark"
                    >
                      Email
                    </h4>
                    <p class="text-subtext-light dark:text-subtext-dark">
                      hello@devfolio.com
                    </p>
                  </div>
                </div>
                <div class="flex items-start gap-4 mb-6">
                  <div
                    class="
                      mt-1 w-10 h-10
                      flex-shrink-0 rounded-full bg-primary/10 text-primary 
                      flex items-center justify-center
                    "
                  >
                    <span class="material-symbols-outlined">call</span>
                  </div>
                  <div>
                    <h4
                      class="font-semibold text-lg text-text-light dark:text-text-dark"
                    >
                      Phone
                    </h4>
                    <p class="text-subtext-light dark:text-subtext-dark">
                      +1 (555) 123-4567
                    </p>
                  </div>
                </div>
                <div class="flex items-start gap-4">
                  <div
                    class="
                      mt-1 flex-shrink-0 w-10 h-10 
                      rounded-full bg-primary/10 text-primary 
                      flex items-center justify-center
                    "
                  >
                    <span class="material-symbols-outlined">location_on</span>
                  </div>
                  <div>
                    <h4
                      class="font-semibold text-lg text-text-light dark:text-text-dark"
                    >
                      Location
                    </h4>
                    <p class="text-subtext-light dark:text-subtext-dark">
                      San Francisco, CA
                    </p>
                  </div>
                </div>
              </div>

              <!-- ===== Contact Form ===== -->
              <form id="contact-form" class="space-y-6">
                <div>
                  <label class="sr-only" for="name">Name</label>
                  <input
                    class="
                      w-full py-3 px-4
                      bg-background-light dark:bg-background-dark 
                      border-gray-300 dark:border-gray-600 focus:border-primary
                      rounded-lg focus:ring-2 focus:ring-primary transition
                    "
                    id="name"
                    name="name"
                    placeholder="Your Name"
                    type="text"
                  />
                </div>
                <div>
                  <label class="sr-only" for="email">Email</label>
                  <input
                    class="
                      w-full py-3 px-4
                      bg-background-light dark:bg-background-dark 
                      border-gray-300 dark:border-gray-600 rounded-lg 
                      focus:ring-2 focus:ring-primary focus:border-primary transition
                    "
                    id="email"
                    name="email"
                    placeholder="Your Email"
                    type="email"
                  />
                </div>
                <div>
                  <label class="sr-only" for="message">Message</label>
                  <textarea
                    class="
                      w-full py-3 px-4
                      bg-background-light dark:bg-background-dark 
                      border-gray-300 dark:border-gray-600 rounded-lg
                      focus:ring-2 focus:ring-primary focus:border-primary transition
                    "
                    id="message"
                    name="message"
                    placeholder="Your Message"
                    rows="4"
                  ></textarea>
                </div>
                <div>
                  <button
                    class="
                      w-full h-12 px-8
                      flex items-center justify-center 
                      rounded-lg bg-primary 
                      text-base font-semibold text-white 
                      shadow-lg shadow-primary/30 
                      transition-transform-shadow duration-300 
                      hover:scale-105 hover:shadow-primary/50
                    "
                    type="submit"
                  >
                    Send Message
                  </button>
                </div>
              </form>
            </div>
          </div>
        </section>
      </main>

      <!-- ========== Footer ========== -->
      <footer class="bg-background-dark text-subtext-dark">
        <div class="container mx-auto px-4 py-8 sm:px-6 lg:px-8">
          <div
            class="
              flex flex-col md:flex-row gap-6
              justify-between items-center
            "
          >

            <!-- ===== Copyright ===== -->
            <p class="text-sm">© 2024 Farah's Portfolio. All Rights Reserved.</p>

            <!-- ===== Contact ===== -->
            <div class="flex gap-4">
              <a
                class="text-subtext-dark hover:text-primary transition-colors"
                href="#"
              >
                <i class="fa-brands fa-square-x-twitter"></i>
              </a>
              <a
                class="text-subtext-dark hover:text-primary transition-colors"
                href="#"
              >
                <i class="fa-brands fa-linkedin text-sky-900"></i>
              </a>
              <a
                class="text-subtext-dark hover:text-primary transition-colors"
                href="#"
              >
                <i class="fa-brands fa-github"></i>
              </a>
            </div>
          </div>
        </div>
      </footer>
    </div>
    
    <!-- ========== javaScript ========== -->
    <script src="./script.js"></script>
  </body>
</html>
