/* ---------------------------------
  Global Styles & Reset
---------------------------------- */
html {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth; 
}

/* Reset margin/padding for body */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body,
html {
  transition: background-color 0.3s, color 0.3s; /* switch Dark/Light */
  scroll-behavior: smooth;
}

/* ---------------------------------
  Buttons
---------------------------------- */
button {
  cursor: pointer;
}

/* ---------------------------------
  Typography & Links
---------------------------------- */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.8;
}